body {
    background-image: linear-gradient(to top right,blue, lightblue,blue);
    width:1200px;
    height: 100vh;
    margin: 20px auto;
    display:block;
}

form {
    width: 100%;
    height: auto;
    display:flex;
    margin: 150px auto;
}

form fieldset {
    margin: 30px;
    width: 50%;
    height:50vh;
    font-size: 20px;
    font-weight: 400;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 14px 10px grey;

}

form fieldset legend {
    font-size: 30px;
    font-weight: 500;
}

/* form fieldset .box {
    width:5px;
    height:5px;
    border-radius: 50%;
    position:absolute;
    background-color: blue;
    animation: box 2s linear infinite;
}

@keyframes box {
    0% {left:30%};
    50% {left:35%};
    100% {left:calc(100%-20px)};
} */

form fieldset div {
    margin:5px;
}

label {
    font-style: italic;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid ;
}

input:focus {
    border: 1px solid lightblue;
}

.step4  div{
    text-align: center;
    padding: 20px;
}

.step4 div p {
    padding: 20px;
    font-size: 24px;
}

img {
    border-radius: 5px;
    width: 100%;
}

.step1 button {
    background: rgb(57, 57, 246);
    color:white;
    border:none;
    padding:10px;
    border-radius: 5px;
    margin-left: 75%;
    margin-top: 100px;
    box-shadow: -4px 6px 5px grey;
}

.step2 button {
    background: rgb(57, 57, 246);
    color:white;
    border:none;
    padding:10px;
    border-radius: 5px;
    margin-left: 75%;
    margin-top: 30px;
    box-shadow: -4px 6px 5px grey;
}

.step3 button {
    background: rgb(57, 57, 246);
    color:white;
    border:none;
    padding:10px;
    border-radius: 5px;
    margin-left: 75%;
    margin-top: 120px;
    box-shadow: -4px 6px 5px grey;
}

button:hover {
    transform: scale(1.2);
}

.bar {
    font-size: 20px;
    font-style: italic;
    margin-left: 40px;
    display: flex;
}

#bar {
    width: 100px;
    border: 2px solid blue;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    background-color: rgba(65, 65, 249,0.4);
}

@media (max-width:900px) {
    form {
        display:grid;
    }

    form fieldset {
        grid-template-columns: repeat(auto-fit, minmax(150px,2fr));
    }
}

@media (max-width:576px) {
    form {
        display:block;
    }

    form fieldset {
            margin: 30px;
    }
}