@media screen and (max-width:576px) {
    table {
        outline:none;
    }

    thead tr {
        position:absolute;
        top: -9999px;
        right:-9999px;
    }

    td,tr {
        display:block;
    }

    tr {
        margin-top:1.5em;
        border:2px solid blue;
    }

    td {
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    td::before {
        content: attr(data-label);
        display: inline-block;
        line-height: 1.6;
        margin-left: -100%;
        width: 100%;
    }
}